/******************************************************************
Site Name: Woodland Travel Center
Author: Rachel Flowers | Pixel Play Creative

Stylesheet: Desktop Stylsheet

******************************************************************/



/*********************
GENERAL STYLES
*********************/

html {
    font-size: 100%;
}

#container {
    overflow: inherit;
}



/*********************
HEADER STYLES
*********************/

#logo, #airstream-logo {
    flex:1 0 30%;
    text-align: left;
    max-width: 30%;

    img {
        max-width:80%;
    }
}

#searchform {
    margin-right: 0;
    max-width: none;
    flex:1 0 50%;

     #s {
        padding: 0 5px;
        transition: none;
        background-color: #ffffff;
        border: 1px solid lighten($gray, 15%);
        cursor: text;
        outline: 0;
        margin-left: 30px;
        padding: 0 5px;
        width: inherit;
        flex: 1 0 30%;
        max-width: none;

        &:focus {
            margin-left: 30px;
            max-width: none;
        }
    }
}

#navs-search {
    flex: 1 0 38%;
    text-align: right;
    max-width: 38%;
}


#primary-nav {
    text-align: right;
}

#hero {

    h1 {
        padding-top: 100px;
    }
}

#inner-content {

    .home & {
        margin-top: 0;
    }
}

.services-row {

    .wpb_column {
        flex-basis: 24%;
    }
}

.full-width-inner-row {
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    .home & {

        .vc_col-sm-6 {
            width: 50%;
        }

        .vc_col-sm-3 {
            width: 25%;
        }
    }
}



/*********************
FOOTER STYLES
*********************/

#footer-nav, #contact-info {
    flex-basis: auto;
}

#social {
    flex-basis: 30%;
    padding-top: 40px;
}

.social-icons {
    position: absolute;
    top: 0;
    right: 0;
}

.hours {
    p small {
        display: block;
    }
}

.copyright {
    left: 0;
    right: auto;
}
