/******************************************************************
Site Name: Woodland Travel Center
Author: Rachel Flowers | Pixel Play Creative

Stylesheet: Desktop Stylsheet

******************************************************************/



/*********************
GENERAL STYLES
*********************/

html {
    font-size: 100%;
}



/*********************
HEADER STYLES
*********************/

#logo, #airstream-logo {
    flex-basis: auto;
    text-align: left;

    img {
        max-width:80%;
    }
}

#searchform {
    margin-right: 0;
}

#navs-search {
    flex-grow: 2;
    flex-basis: auto;
    text-align: right;
    max-width: 37%;
}


#primary-nav {
    text-align: right;
}

#hero {

    h1 {
        padding-top: 100px;
    }
}

#inner-content {

    .page & {
        margin-top: 115px;
    }

    .home & {
        margin-top: 0;
    }
}

.services-row {

    .wpb_column {
        flex-basis: 24%;
    }
}

.full-width-inner-row {
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    .home & {

        .vc_col-sm-6 {
            width: 50%;
        }

        .vc_col-sm-3 {
            width: 25%;
        }
    }
}



/*********************
FOOTER STYLES
*********************/

#footer-nav, #social {
    flex-basis: auto;
}
