/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
    display: inline-block;
    font-family: 'proxima-nova-condensed';
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    font-size: 0.9em;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    padding: 10px 25px;
    border: 0;
    cursor: pointer;
    @include transition(background-color 0.14s ease-in-out);

    // hovering on the btn
    &:hover, &:focus {
        color: $white;
        text-decoration: none;
    } // end hover

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
    @extend %btn; // here we load the btn defaults
    background-color: $airstream-blue;

    &:hover,
    &:focus {
        background-color: darken($airstream-blue, 14%);
    } // end hover

    &:active {
        background-color: darken($airstream-blue, 5%);
    } // end active

} // end blue button

.green-btn {
    @extend %btn; // here we load the btn defaults
    background-color: $woodland-green;

    &:hover,
    &:focus {
        background-color: darken($woodland-green, 14%);
    } // end hover

    &:active {
        background-color: darken($woodland-green, 5%);
    } // end active

} // end blue button

.gray-btn {
    @extend %btn; // here we load the btn defaults
    background-color: $gray;

    &:hover,
    &:focus {
        background-color: darken($gray, 14%);
    } // end hover

    &:active {
        background-color: darken($gray, 5%);
    } // end active

} // end blue button


.dark-gray-btn {
    @extend %btn; // here we load the btn defaults
    background-color: $dark-gray;

    &:hover,
    &:focus {
        background-color: darken($dark-gray, 14%);
    } // end hover

    &:active {
        background-color: darken($dark-gray, 5%);
    } // end active

} // end blue button

.light-gray-btn {
    @extend %btn; // here we load the btn defaults
    background-color: $lighter-gray;
    color: $text-color;

    &:hover,
    &:focus {
        background-color: darken($lighter-gray, 14%);
    } // end hover

    &:active {
        background-color: darken($lighter-gray, 5%);
    } // end active

} // end blue button
